<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Settings</h4>
                    </div>
                    <div class="card-body">
                        <!-- form -->
                        <div>
                            <!-- GSTIN in % -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="GST (%)" type="text" [(ngModel)]="settingObj.GSTPerc"
                                            [formControl]="settingForm.controls['GSTPerc']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="settingForm.controls['GSTPerc'].hasError('required') && settingForm.controls['GSTPerc'].touched">
                                            GST is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!settingForm.controls['GSTPerc'].hasError('required') && !settingForm.controls['GSTPerc'].valid && settingForm.controls['GSTPerc'].touched">
                                            Please Enter valid GST.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- Welcome Points -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Welcome Points" type="text"
                                            [(ngModel)]="settingObj.WelcomePoints"
                                            [formControl]="settingForm.controls['WelcomePoints']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="settingForm.controls['WelcomePoints'].hasError('required') && settingForm.controls['WelcomePoints'].touched">
                                            Points is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!settingForm.controls['WelcomePoints'].hasError('required') && !settingForm.controls['WelcomePoints'].valid && settingForm.controls['WelcomePoints'].touched">
                                            Please Enter valid Points.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- Default Event Wallet Points -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Default Event Wallet Points" type="text"
                                            [(ngModel)]="settingObj.defEventWalletPoints"
                                            [formControl]="settingForm.controls['defEventWalletPoints']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="settingForm.controls['defEventWalletPoints'].hasError('required') && settingForm.controls['defEventWalletPoints'].touched">
                                            wallet Points is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!settingForm.controls['defEventWalletPoints'].hasError('required') && !settingForm.controls['defEventWalletPoints'].valid && settingForm.controls['defEventWalletPoints'].touched">
                                            Please Enter valid wallet Points.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- QR Generate frequency -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="QR Generate Frequency(Day)" type="text"
                                            [(ngModel)]="settingObj.refCodeValidDays"
                                            [formControl]="settingForm.controls['refCodeValidDays']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="settingForm.controls['refCodeValidDays'].hasError('required') && settingForm.controls['refCodeValidDays'].touched">
                                            QR Generater Days is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!settingForm.controls['refCodeValidDays'].hasError('required') && !settingForm.controls['refCodeValidDays'].valid && settingForm.controls['refCodeValidDays'].touched">
                                            Please Enter valid QR Generater Day.
                                        </small>
                                    </div>
                                </div>
                            </div>


                            <!-- save button - [disabled]="!loginForm.valid" -->
                            <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                (click)="onSubmit()">Save</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>