<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Event Booking</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="eBookTbl" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
                                <thead class=" text-primary">
                                    <tr>
                                        <th> # </th>
                                        <th> Event Name </th>
                                        <th> Event Date </th>
                                        <th> Time Slot </th>
                                        <th> Capacity Max Heads </th>
                                        <th> Registred Count </th>
                                        <th> Available Count </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let book of eveBookList; let i=index;">
                                        <td> {{i+1}} </td>
                                        <td> {{book.name ? book.name : '-'}} </td>
                                        <td> {{book.eFromDate ? (book.eFromDate|date:'dd-MM-yyyy') : '-'}} </td>
                                        <td>
                                            <!-- {{book.eTimeSlote?book.eTimeSlote[0].fromTime +' - '+ book.eTimeSlote[0].toTime:'-'}} -->
                                            <div *ngIf="book.eTimeSlote && book.eTimeSlote.length > 0">
                                                <div *ngFor="let bs of book.eTimeSlote;">
                                                    {{bs.fromTime +' - '+ bs.toTime}}</div>
                                            </div>
                                        </td>
                                        <td> {{book.eCapacity ? book.eCapacity : '-'}} </td>
                                        <td> <a (click)="showBooking(book)" style="text-decoration: underline;">
                                                {{book.eventBooking&&book.eventBooking.count?book.eventBooking.count:0}}
                                            </a>
                                        </td>
                                        <td>
                                            {{(+book.eCapacity - (book.eventBooking&&book.eventBooking.count?book.eventBooking.count:0))}}
                                        </td>
                                        <td>
                                            <button class="bnt btn-warning mrg5" (click)="cancelBooking(book)"
                                                title="Cancel"> Cancel </button>
                                            <button class="bnt btn-primary mrg5" (click)="markFullBooking(book)"
                                                title="Mark Full" *ngIf="book.eTimeSlote && book.eTimeSlote.length > 0">Mark Full </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- <tfoot>
                                    <tr *ngIf="eveBookList && eveBookList.length <= 0" class="text-center">
                                        <th colspan="10">
                                            <span>Event Booking Records Not Found!</span>
                                        </th>
                                    </tr>
                                </tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- show booking Popup Modal -->
<div class="modal modal-angular fade" id="showbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="modelClose()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Registred Booking For {{title}}</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class=" text-primary">
                                            <th> # </th>
                                            <th> Customer Name </th>
                                            <th> Mobile No. </th>
                                            <th> Number Of People </th>
                                            <th> Booking Date </th>
                                            <th> Action </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let books of eventShowBookList; let i=index;">
                                                <td> {{i + 1}} </td>
                                                <td> {{books.ecube_player&&books.ecube_player.fullname?books.ecube_player.fullname:'-'}}
                                                </td>
                                                <td> {{books.ecube_player&&books.ecube_player.mobileno?books.ecube_player.mobileno:'-'}}
                                                </td>
                                                <td> {{books.seats?books.seats:0}} </td>
                                                <td> {{books.createdAt?(books.createdAt|date:'dd-MM-yyyy'):'-'}} </td>
                                                <td>
                                                    <button class="bnt btn-primary mrg5" (click)="changeSlot(books)"
                                                        title="Change Slot"> Change slot </button>
                                                    <button class="bnt btn-warning mrg5" (click)="cancel(books)"
                                                        title="Cancel"> Cancel</button>
                                                    <button class="bnt btn-danger" (click)="delete(books)"
                                                        title="Delete">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr *ngIf="eventShowBookList && eventShowBookList.length <= 0"
                                                class="text-center">
                                                <td colspan="6">
                                                    <span>Records Not Found!</span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- show booking model end -->