<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Player List</h4>
                        <!-- <button class="btn btn-info pull-right mrgtop" (click)="openModel()">
                            Add
                        </button> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="playerTbl" datatable [dtOptions]="dtOptions"
                                [dtTrigger]="dtTrigger">
                                <thead class=" text-primary">
                                    <tr>
                                        <th> # </th>
                                        <th> User Name </th>
                                        <th> Short Name </th>
                                        <th> Full Name </th>
                                        <th> mobile No </th>
                                        <th> Email </th>
                                        <th> Reg. Date </th>
                                        <th> Last Login </th>
                                        <th> Status </th>
                                        <th> Wallet Bal.(Rs.) </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let player of playerList; let i=index;">
                                        <td> {{i + 1}} </td>
                                        <td> {{player.username?player.username:'-'}} </td>
                                        <td> {{player.shortname?player.shortname:'-'}} </td>
                                        <td> {{(player.fname?player.fname:' ') + ' ' + (player.lname?player.lname:' ')}}
                                        </td>
                                        <td> {{player.mobileno?player.mobileno:''}} </td>
                                        <td> {{player.email?player.email:'-'}} </td>
                                        <td> {{!player.regDate ?'-':player.regDate | date:'dd-MM-yyyy'}} </td>
                                        <td> {{player.lastLogin?player.lastLogin:'-'}}
                                            <!-- {{!player.lastLogin?'-':player.lastLogin | date:'dd-MM-yyyy hh:mm:ss a'}} -->
                                        </td>
                                        <td>
                                            <span class="label label-success">
                                                {{player.status?player.status:'-'}}
                                            </span>
                                        </td>
                                        <td> {{player.wallet_amount?player.wallet_amount:'0'}} </td>
                                        <td>
                                            <button class="bnt btn-primary mrg5" (click)="refillWallet(player)"
                                                title="Refill Wallet">
                                                <!-- <i class="fa fa-money" aria-hidden="true"></i> -->
                                                <img src="assets/img/rupees.png" alt="game" height="24" width="24">
                                            </button>
                                            <button class="bnt btn-success mrg5" (click)="walletHistory(player)"
                                                title="Wallet  History">
                                                <!-- <i class="fa fa-list" aria-hidden="true"></i> -->
                                                <img src="assets/img/wallet.png" alt="game" height="24" width="24">
                                            </button>
                                            <button class="bnt btn-warning mrg5" (click)="gamesHistory(player)"
                                                title="Game Played History">
                                                <!-- <i class="fa fa-list" aria-hidden="true"></i> -->
                                                <img src="assets/img/game.png" alt="game" height="24" width="24">
                                            </button>
                                            <button class="bnt btn-info mrg5" (click)="editPlayer(player)"
                                                title="Edit Player">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            <button class="bnt btn-danger" (click)="deletePlayer(player)"
                                                title="Delete Player">
                                                <i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- <tfoot>
                                    <tr *ngIf="playerList && playerList.length <= 0" class="text-center">
                                        <td colspan="9">
                                            <span>Player Records Not Found!</span>
                                        </td>
                                    </tr>
                                </tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Player Edit Popup Modal -->
<div class="modal modal-angular fade" id="playerEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="reset()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">{{title}}</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <!-- fname & Last Name -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- <label>fname Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="First Name" type="text"
                                                    [(ngModel)]="playerObj.fname"
                                                    [formControl]="playerForm.controls['fname']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['fname'].hasError('required') && playerForm.controls['fname'].touched">
                                                    First Name is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['fname'].hasError('required') && !playerForm.controls['fname'].valid && playerForm.controls['fname'].touched">
                                                    Please Enter valid First Name.
                                                </small>
                                            </div>
                                        </div>
                                        <!-- <label>lname Name</label> -->
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Last Name" type="text"
                                                    [(ngModel)]="playerObj.lname"
                                                    [formControl]="playerForm.controls['lname']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['lname'].hasError('required') && playerForm.controls['lname'].touched">
                                                    Last Name is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['lname'].hasError('required') && !playerForm.controls['lname'].valid && playerForm.controls['lname'].touched">
                                                    Please Enter valid Last Name.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- shortname  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>Short Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Short Name" type="text"
                                                    [(ngModel)]="playerObj.shortname"
                                                    [formControl]="playerForm.controls['shortname']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['shortname'].hasError('required') && playerForm.controls['shortname'].touched">
                                                    shortname is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['shortname'].hasError('required') && !playerForm.controls['shortname'].valid && playerForm.controls['shortname'].touched">
                                                    Please Enter valid shortname.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- email-id  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Email-Id" type="text"
                                                    [(ngModel)]="playerObj.email"
                                                    [formControl]="playerForm.controls['email']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['email'].hasError('required') && playerForm.controls['email'].touched">
                                                    email-Id is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['email'].hasError('required') && !playerForm.controls['email'].valid && playerForm.controls['email'].touched">
                                                    Please Enter valid email-Id.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- password  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Password" type="password"
                                                    [(ngModel)]="playerObj.password"
                                                    [formControl]="playerForm.controls['password']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['password'].hasError('required') && playerForm.controls['password'].touched">
                                                    password is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['password'].hasError('required') && !playerForm.controls['password'].valid && playerForm.controls['password'].touched">
                                                    Please Enter valid password.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- mobileno  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Mobile Number" type="text"
                                                    [(ngModel)]="playerObj.mobileno"
                                                    [formControl]="playerForm.controls['mobileno']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['mobileno'].hasError('required') && playerForm.controls['mobileno'].touched">
                                                    mobile number is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['mobileno'].hasError('required') && !playerForm.controls['mobileno'].valid && playerForm.controls['mobileno'].touched">
                                                    Please Enter valid mobile number.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Address  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Address" type="text"
                                                    [(ngModel)]="playerObj.address"
                                                    [formControl]="playerForm.controls['address']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['address'].hasError('required') && playerForm.controls['address'].touched">
                                                    Address is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['address'].hasError('required') && !playerForm.controls['address'].valid && playerForm.controls['address'].touched">
                                                    Please Enter valid Address.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- idProof  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Id Of Proof" type="text"
                                                    [(ngModel)]="playerObj.idProof"
                                                    [formControl]="playerForm.controls['idProof']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['idProof'].hasError('required') && playerForm.controls['idProof'].touched">
                                                    idProof is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['idProof'].hasError('required') && !playerForm.controls['idProof'].valid && playerForm.controls['idProof'].touched">
                                                    Please Enter valid idProof.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Remark  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Remark" type="text"
                                                    [(ngModel)]="playerObj.Remark"
                                                    [formControl]="playerForm.controls['Remark']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['Remark'].hasError('required') && playerForm.controls['Remark'].touched">
                                                    Remark is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!playerForm.controls['Remark'].hasError('required') && !playerForm.controls['Remark'].valid && playerForm.controls['Remark'].touched">
                                                    Please Enter valid Remark.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- refCode  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Refrence By : </label>
                                            <select [(ngModel)]="playerObj.refCode" class="form-control"
                                                [formControl]="playerForm.controls['refCode']" readonly>
                                                <option selected>Select</option>
                                                <option *ngFor="let player of playerList;" [value]="player.id" disabled>
                                                    {{(player.fname?player.fname:'') + ' ' + (player.lname?player.lname:'')}}
                                                </option>
                                            </select>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['refCode'].hasError('required') && playerForm.controls['refCode'].touched">
                                                    refCode is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- profession  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Profession" type="text"
                                                    [(ngModel)]="playerObj.profession"
                                                    [formControl]="playerForm.controls['profession']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['profession'].hasError('required') && playerForm.controls['profession'].touched">
                                                    Profession is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- aboutMe  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="About Me" type="text"
                                                    [(ngModel)]="playerObj.aboutMe"
                                                    [formControl]="playerForm.controls['aboutMe']" readonly>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="playerForm.controls['aboutMe'].hasError('required') && playerForm.controls['aboutMe'].touched">
                                                    About Me is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- status -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Status : </label>
                                            <!-- <input placeholder="Status" type="checkbox" [(ngModel)]="playerObj.status"> -->
                                            <select [(ngModel)]="playerObj.status" class="form-control">
                                                <option selected>Select</option>
                                                <option value="Active">Active</option>
                                                <option value="InActive">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- save button - [disabled]="!loginForm.valid" -->
                                    <button mat-raised-button type="submit" class="btn btn-success"
                                        (click)="onSubmit()">Save</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Player WALLET HISTORY Popup Modal -->
<div class="modal modal-angular fade" id="playerWalletHistory" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="walletModelClose()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Wallet History</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class=" text-primary">
                                            <th> # </th>
                                            <th> Date </th>
                                            <th> Transaction Type </th>
                                            <th> Player Code </th>
                                            <th> Amount </th>
                                            <th> Type </th>
                                            <th> From </th>
                                            <th> To </th>
                                            <th> Status </th>
                                            <th> Remark </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let player of walletHistList; let i=index;">
                                                <td> {{i + 1}} </td>
                                                <td> {{player.datetime| date:'dd-MM-yyyy hh:mm:dd a'}} </td>
                                                <td> {{player.transType}} </td>
                                                <td> {{player.playercode}} </td>
                                                <td> {{player.amount}} </td>
                                                <td> {{player.type}} </td>
                                                <td> {{player.from}} </td>
                                                <td> {{player.to}} </td>
                                                <td> {{player.status?'Active':'Inactive'}} </td>
                                                <td> {{player.remark}} </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr *ngIf="walletHistList && walletHistList.length <= 0"
                                                class="text-center">
                                                <td colspan="9">
                                                    <span>Wallet History Records Not Found!</span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Player Game Play HISTORY Popup Modal -->
<div class="modal modal-angular fade" id="playerGameHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="gameModelClose()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Game Played History</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class=" text-primary">
                                            <th> # </th>
                                            <th> Date </th>
                                            <th> Game </th>
                                            <th> Start Time </th>
                                            <th> End Time </th>
                                            <th> Charge </th>
                                            <th> Remark </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let player of gameHistList; let i=index;">
                                                <td> {{player.id}} </td>
                                                <td> {{player.datetime | date:'dd-MM-yyyy'}} </td>
                                                <td> {{player.game}} </td>
                                                <td> {{player.starttime| date:'dd-MM-yyyy hh:mm:ss a'}}
                                                <td> {{player.endtime| date:'dd-MM-yyyy hh:mm:ss a'}}
                                                </td>
                                                <td> {{player.charge}} </td>
                                                <td> {{player.remark}} </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr *ngIf="gameHistList && gameHistList.length <= 0" class="text-center">
                                                <td colspan="9">
                                                    <span>Game Played History Records Not Found!</span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Player Refill Wallet Popup Modal -->
<div class="modal modal-angular fade" id="playerRefillWallet" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="refillModelClose()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Player Refill Wallet</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <!-- enter amount -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>fname Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Enter Amount" type="text"
                                                    [(ngModel)]="refillObj.wallet_amount"
                                                    [formControl]="refillForm.controls['wallet_amount']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="refillForm.controls['wallet_amount'].hasError('required') && refillForm.controls['wallet_amount'].touched">
                                                    Amount is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!refillForm.controls['wallet_amount'].hasError('required') && !refillForm.controls['wallet_amount'].valid && refillForm.controls['wallet_amount'].touched">
                                                    Please Enter valid Amount.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Remark  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Remark" type="text"
                                                    [(ngModel)]="refillObj.remark"
                                                    [formControl]="playerForm.controls['Remark']">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="submit" class="btn btn-success"
                                        (click)="saveRefill()">Submit</button>
                                    <button mat-raised-button type="submit" class="btn btn-danger"
                                        (click)="refillModelClose()">Cancel</button>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- delete Confirm Popup Modal -->
<div class="modal modal-angular fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="resetDelete()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Delete Confirmation</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Are You Sure Want to Delete?</p>
                                        </div>
                                        <button mat-raised-button type="submit" class="btn btn-danger mrgleft15"
                                            (click)="delete()">Yes</button>
                                        <button mat-raised-button type="submit" class="btn btn-warning"
                                            (click)="resetDelete()">No</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>