<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <!-- form -->
                        <div>
                            <!-- Old Password -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <label>Old Password</label> -->
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Old Password" type="password"
                                            [(ngModel)]="changePassObj.old_password"
                                            [formControl]="changePassForm.controls['old_password']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="changePassForm.controls['old_password'].hasError('required') && changePassForm.controls['old_password'].touched">
                                            Old Password is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!changePassForm.controls['old_password'].hasError('required') && !changePassForm.controls['old_password'].valid && changePassForm.controls['old_password'].touched">
                                            Please Enter valid Old Password.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- New Password -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <label>New Password</label> -->
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="New Password" type="password"
                                            [(ngModel)]="changePassObj.new_password"
                                            [formControl]="changePassForm.controls['new_password']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="changePassForm.controls['new_password'].hasError('required') && changePassForm.controls['new_password'].touched">
                                            New Password is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="!changePassForm.controls['new_password'].hasError('required') && !changePassForm.controls['new_password'].valid && changePassForm.controls['new_password'].touched">
                                            Please Enter valid New Password.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- Confirm Password -->
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Confirm Password" type="password"
                                            [(ngModel)]="conf_password"
                                            [formControl]="changePassForm.controls['conf_password']">
                                    </mat-form-field>
                                    <div class="text-danger">
                                        <small class="text-danger"
                                            *ngIf="changePassForm.controls['conf_password'].hasError('required') && changePassForm.controls['conf_password'].touched">
                                            Confirm Password is required.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="changePassForm.controls['new_password'].touched && changePassObj.new_password !== conf_password">
                                            Confirm Password does not match with new password.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- save button - [disabled]="!loginForm.valid" -->
                            <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                (click)="changePassword()" [disabled]="!changePassForm.valid">Change</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>