<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Events</h4>
                        <button class="btn btn-info pull-right mrgtop" (click)="openModel()">
                            Add
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="eventTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-hover">
                                <thead class=" text-primary">
                                    <tr>
                                        <th> # </th>
                                        <th> Event Name </th>
                                        <th> From Date </th>
                                        <th> To Date </th>
                                        <th> Venue </th>
                                        <th> Capacity </th>
                                        <th> Charge </th>
                                        <th> Host </th>
                                        <th> Description </th>
                                        <th> Status </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let event of eventList; let i=index;">
                                        <td> {{i+1}} </td>
                                        <td> {{event.name?event.name:'-'}} </td>
                                        <td> {{!event.eFromDate?'-':event.eFromDate | date:'dd-MM-yyyy'}} </td>
                                        <td> {{!event.eToDate?'-':event.eToDate | date:'dd-MM-yyyy'}} </td>
                                        <td> {{event.eVenue?event.eVenue:'-'}} </td>
                                        <td> {{event.eCapacity?event.eCapacity:'-'}} </td>
                                        <td> {{event.eCharge?event.eCharge:'-'}} </td>
                                        <td> {{event.eHost?event.eHost:'-'}} </td>
                                        <td> {{event.eHostDesc?event.eHostDesc:'-'}} </td>
                                        <td> {{event.eStatus?event.eStatus:'-'}} </td>
                                        <td>
                                            <button class="bnt btn-info mrg5" (click)="editEvent(event)" title="Edit">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button class="bnt btn-danger" (click)="deleteEvent(event)" title="Delete">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- <tfoot>
                                    <tr *ngIf="eventList && eventList.length <= 0" class="text-center">
                                        <td colspan="12">
                                            <span>Event Records Not Found!</span>
                                        </td>
                                    </tr>
                                </tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Event add Popup Modal -->
<div class="modal modal-angular fade" id="eventAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="reset()"><span
                        aria-hidden="true">&times;</span></button>
                <!-- <h4 class="margin-top">
                Add Event
            </h4> -->
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">{{title}}</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <!-- Event name -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Event Name *" type="text"
                                                    [(ngModel)]="eventObj.name"
                                                    [formControl]="eventForm.controls['name']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="eventForm.controls['name'].hasError('required') && eventForm.controls['name'].touched">
                                                    Event Name is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!eventForm.controls['name'].hasError('required') && !eventForm.controls['name'].valid && eventForm.controls['name'].touched">
                                                    Please Enter valid Event Name.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Event edate    [minDate]="minDate" [maxDate]="maxDate" [(bsValue)]="fromDateValue" -->
                                    <div class="row">
                                        <div class="col-xs-12 col-12 col-md-6 form-group">
                                            <label>From Date * : </label>
                                            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                                [bsConfig]="configDP" [(ngModel)]="fromDateValue"
                                                (bsValueChange)="onFromDateChange()" (blur)="onFromDateChange()">
                                            <div class="text-danger">
                                                <small class="text-danger" *ngIf="!isValidFDate"> Event From Date is
                                                    required.
                                                </small>
                                            </div>
                                        </div>
                                        <!-- end - to date  -->
                                        <div class="col-xs-12 col-12 col-md-6 form-group">
                                            <label>To Date * : </label>
                                            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                                [bsConfig]="configDP" [minDate]="fromDateValue"
                                                [(ngModel)]="toDateValue" (bsValueChange)="onToDateChange()"
                                                (blur)="onToDateChange()">
                                            <div class="text-danger">
                                                <small class="text-danger" *ngIf="!isValidTDate"> Event To Date is
                                                    required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- days -->
                                    <div class="row" *ngIf="isShowRepeatDay">
                                        <div class="col-xs-12 col-12 col-md-12 form-group">
                                            <label class="switch">
                                                <input type="checkbox" [(ngModel)]="isMultiDay">
                                                <span class="slider"></span>
                                            </label>
                                            <label> : Repetitive event </label>
                                        </div>
                                    </div>
                                    <!-- Repeated days  -->
                                    <div class="row" *ngIf="isMultiDay">
                                        <label class="mrglf15">Event Repeat Days : </label>
                                        <div class="col-xs-12 col-12 col-md-12 form-group">
                                            <span class="pr10" *ngFor="let day of repeatDays;let i=index;">
                                                <label class="switch">
                                                    <input type="checkbox" [(ngModel)]="day.value">
                                                    <span class="pl5">{{day.name}}</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Event from time -->
                                    <div class="row" *ngFor="let time of timeSlots;let i=index;">
                                        <div class="col-md-4 form-group brdblk">
                                            <label>From Time : </label>
                                            <!-- [showSeconds]="showSec" (isValid)="isValidFT($event)" -->
                                            <timepicker [(ngModel)]="time.fromTime" [showMinutes]="showMin"
                                                [showMeridian]="ismeridian"></timepicker>
                                        </div>
                                        <!-- Event to time (isValid)="isValidTT($event)" -->
                                        <div class="col-md-4 form-group brdblk mrglf15">
                                            <label>To Time : </label>
                                            <timepicker [(ngModel)]="time.toTime" [showMinutes]="showMin"
                                                [showMeridian]="ismeridian"></timepicker>
                                        </div>
                                        <div class="col-md-2 form-group">
                                            <button *ngIf="i==0" class="bnt btn-info pull-right" (click)="addSlot()"
                                                title="Add Time Slot">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                            <button *ngIf="i>0" class="bnt btn-danger pull-right"
                                                (click)="removeSlot(i)" title="Remove Time Slot">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <!-- Event eVenue -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Venue *" type="text"
                                                    [(ngModel)]="eventObj.eVenue"
                                                    [formControl]="eventForm.controls['eVenue']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="eventForm.controls['eVenue'].hasError('required') && eventForm.controls['eVenue'].touched">
                                                    Event Venue is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Event Capacity -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Capacity *" type="text"
                                                    [(ngModel)]="eventObj.eCapacity"
                                                    [formControl]="eventForm.controls['eCapacity']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="eventForm.controls['eCapacity'].hasError('required') && eventForm.controls['eCapacity'].touched">
                                                    Event Capacity is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Event Charge (per head) -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Charge(per head) *" type="text"
                                                    [(ngModel)]="eventObj.eCharge"
                                                    [formControl]="eventForm.controls['eCharge']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="eventForm.controls['eCharge'].hasError('required') && eventForm.controls['eCharge'].touched">
                                                    Event Charge is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Event eWalletUsageLimit -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Wallet Usage Limit *" type="text"
                                                    [(ngModel)]="eventObj.eWalletUsageLimit"
                                                    [formControl]="eventForm.controls['eWalletUsageLimit']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="eventForm.controls['eWalletUsageLimit'].hasError('required') && eventForm.controls['eWalletUsageLimit'].touched">
                                                    Event Wallet Usage Limit is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Event eHost -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Host *" type="text"
                                                    [(ngModel)]="eventObj.eHost"
                                                    [formControl]="eventForm.controls['eHost']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="eventForm.controls['eHost'].hasError('required') && eventForm.controls['eHost'].touched">
                                                    Event Host is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Event eHostDesc -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <textarea matInput placeholder="Event Description *" type="text"
                                                    [(ngModel)]="eventObj.eHostDesc"
                                                    [formControl]="eventForm.controls['eHostDesc']"></textarea>
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="eventForm.controls['eHostDesc'].hasError('required') && eventForm.controls['eHostDesc'].touched">
                                                    Event Host Description is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Event eImage1 -->
                                    <div class="row">
                                        <div class="col-md-12" style="  padding-bottom: 10px;">
                                            <input placeholder="Event Imagee" type="file" accept="image/*" multiple
                                                (change)="fileChange($event)">
                                            <span class="pull-right">Max. Limit: 5 files - 2 mb each</span>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-danger" *ngFor="let err of imgError;">
                                                <span>{{err}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div *ngFor="let img of imagesList; let i = index">
                                                <img [src]="imgURLCheck(img)" class="rounded mb-3" width="180"
                                                    height="175" onerror="this.src='assets/img/noimg.png';">
                                                <button class="bnt btn-danger pull-right" (click)="removeImage(i)"
                                                    title="Remove Image">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Event Status -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Status : </label>
                                            <select [(ngModel)]="eventObj.eStatus" class="form-control">
                                                <option selected>Select</option>
                                                <option value="Active">Active</option>
                                                <option value="InActive">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- save button - [disabled]="!loginForm.valid" -->
                                    <button mat-raised-button type="submit" class="btn btn-success"
                                        (click)="onSubmit()">
                                        {{eventId?'Update':'Save'}}
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- delete Confirm Popup Modal -->
<div class="modal modal-angular fade" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="resetDelete()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Delete Confirmation</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Are You Sure Want to Delete?</p>
                                        </div>
                                        <button mat-raised-button type="submit" class="btn btn-danger mrgleft15"
                                            (click)="delete()">Yes</button>
                                        <button mat-raised-button type="submit" class="btn btn-warning"
                                            (click)="resetDelete()">No</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>