<div class="container">
    <div class="card">
        <div class="card-header card-header-success">
            <div class="col-md-6">
                <img src="assets/img/logo.jpeg" class="pull-left" style="height: 110px;">
            </div>
            <div class="col-md-6">
                <h2 class="card-title text-center" style="margin-top:10px;">eCube Login</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <!-- username -->
                    <div class="form-group">
                        <label for="uname"><b>Username</b></label>
                        <input type="email" id="emailaddress" class="form-control" placeholder="Enter User Name"
                            required autofocus [(ngModel)]="loginRequest.username"
                            [formControl]="loginForm.controls['username']">
                        <div class="text-danger">
                            <small class="text-danger"
                                *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
                                Username is required.
                            </small>
                            <small class="text-danger"
                                *ngIf="!loginForm.controls['username'].hasError('required') && !loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                                Please Enter valid Username.
                            </small>
                        </div>
                    </div>
                    <!-- password -->
                    <div class="form-group">
                        <label for="psw"><b>Password</b></label>
                        <input type="password" id="password" class="form-control" placeholder="Enter Password" required
                            [(ngModel)]="loginRequest.password" [formControl]="loginForm.controls['password']">
                        <div class="text-danger">
                            <small class="text-danger"
                                *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                                Password is required.
                            </small>
                            <small class="text-danger"
                                *ngIf="!loginForm.controls['password'].hasError('required') && !loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                                Please Enter valid Password.
                            </small>
                        </div>
                    </div>
                    <!-- button login  [disabled]="!loginForm.valid" -->
                    <div class="form-group">
                        <button class="btn btn-success" (click)="onLogin()">LogIn</button>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-link" (click)="forgetPass()">Forget Password</a>
                    </div>
                    <h6 *ngIf="loginError" class="text-danger"> {{ loginError }} </h6>

                </div>
                <div class="col-md-3"></div>

            </div>
        </div>
    </div>
</div>

<div id="divLoading" *ngIf="loader">
    <p id="loading">
        <img src="assets/img/loader3.gif">
    </p>
</div>

<!-- Reset Password Popup Modal -->
<div class="modal modal-angular fade" id="resetPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="closeModel()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Reset Password</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="form-group">
                                        <label for="psw"><b>Old Password </b></label>
                                        <input type="password" id="password" class="form-control"
                                            placeholder="Enter Old Password" required [(ngModel)]="loginReset.password"
                                            [formControl]="resetForm.controls['password']">
                                        <div class="text-danger">
                                            <small class="text-danger"
                                                *ngIf="resetForm.controls['password'].hasError('required') && resetForm.controls['password'].touched">
                                                Old Password is required.
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="!resetForm.controls['password'].hasError('required') && !resetForm.controls['password'].valid && resetForm.controls['password'].touched">
                                                Please Enter valid Old Password.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="psw"><b>New Password </b></label>
                                        <input type="password" id="password" class="form-control"
                                            placeholder="Enter New Password" required
                                            [(ngModel)]="loginReset.new_password"
                                            [formControl]="resetForm.controls['new_password']">
                                        <div class="text-danger">
                                            <small class="text-danger"
                                                *ngIf="resetForm.controls['new_password'].hasError('required') && resetForm.controls['new_password'].touched">
                                                new password is required.
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="!resetForm.controls['new_password'].hasError('required') && !resetForm.controls['new_password'].valid && resetForm.controls['new_password'].touched">
                                                Please Enter valid new password.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-success" (click)="resetPasswordLogin()">Reset
                                            Password</button>
                                    </div>
                                    <!-- <h6 *ngIf="loginError" class="text-danger"> {{ loginError }} </h6> -->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Forget Password Popup Modal -->
<div class="modal modal-angular fade" id="forgetPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="resetForForgetPass()"><span
                        aria-hidden="true">&times;</span></button>
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Forget Password</h4>
                            </div>
                            <div class="card-body">
                                <!-- usernaame for forget password -->
                                <div *ngIf="isForgetPass">
                                    <div class="form-group">
                                        <label for="psw"><b>Username </b></label>
                                        <input type="password" id="password" class="form-control" placeholder="Username"
                                            required [(ngModel)]="usernameObj.username"
                                            (keyup)="checkUsername(usernameObj.username)"
                                            (focus)="checkUsername(usernameObj.username)">
                                        <div class="text-danger" *ngIf="forgetError">
                                            <small class="text-danger">
                                                {{forgetError}}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success" (click)="submitPassword()">Submit</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <!-- verify response -->
                                <div *ngIf="!isForgetPass">
                                    <div class="form-group">
                                        <label for="psw"><b>Verification Code </b></label>
                                        <input type="password" id="password" class="form-control"
                                            placeholder="Verification Code" required
                                            [(ngModel)]="forgetPassObj.verificationCode"
                                            [formControl]="forgetForm.controls['verificationCode']">
                                        <div class="text-danger">
                                            <small class="text-danger"
                                                *ngIf="forgetForm.controls['verificationCode'].hasError('required') && forgetForm.controls['verificationCode'].touched">
                                                Verification Code is required.
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="!forgetForm.controls['verificationCode'].hasError('required') && !forgetForm.controls['verificationCode'].valid && forgetForm.controls['verificationCode'].touched">
                                                Please Enter valid Old Verification Code.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="psw"><b>New Password </b></label>
                                        <input type="password" id="password" class="form-control"
                                            placeholder="New Password" required [(ngModel)]="forgetPassObj.newPassword"
                                            [formControl]="forgetForm.controls['newPassword']">
                                        <div class="text-danger">
                                            <small class="text-danger"
                                                *ngIf="forgetForm.controls['newPassword'].hasError('required') && forgetForm.controls['newPassword'].touched">
                                                New password is required.
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="!forgetForm.controls['newPassword'].hasError('required') && !forgetForm.controls['newPassword'].valid && forgetForm.controls['newPassword'].touched">
                                                Please Enter valid New password.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success" (click)="savePassword()">Save</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>