<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Users</h4>
                        <button class="btn btn-info pull-right mrgtop" (click)="openModel()">
                            Add
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead class=" text-primary">
                                    <tr>
                                        <th> # </th>
                                        <th> First Name </th>
                                        <th> Last Name </th>
                                        <th> User Name </th>
                                        <th> Mobile </th>
                                        <th> User Type </th>
                                        <th> Status </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of userList; let i=index;">
                                        <td> {{i + 1}} </td>
                                        <td> {{user.uFname}} </td>
                                        <td> {{user.uLName}} </td>
                                        <td> {{user.username}} </td>
                                        <td> {{user.uMobile}} </td>
                                        <td>
                                            {{user.ecube_usertype && user.ecube_usertype.userType?user.ecube_usertype.userType:'-'}}
                                        </td>
                                        <td> {{user.uStatus?user.uStatus:'-'}} </td>
                                        <td>
                                            <button class="bnt btn-info mrg5" (click)="editUser(user)"
                                                title="Edit User">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button class="bnt btn-danger" (click)="deleteUser(user)"
                                                title="Delete User">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- <tfoot>
                                    <tr *ngIf="userList && userList.length <= 0" class="text-center">
                                        <td colspan="8">
                                            <span>Users Records Not Found!</span>
                                        </td>
                                    </tr>
                                </tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- username add Popup Modal -->
<div class="modal modal-angular fade" id="userAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" (click)="reset()"><span
                        aria-hidden="true">&times;</span></button>
                <!-- <h4 class="margin-top">
                Add username
            </h4> -->
                <div class="separator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">{{title}}</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <!-- uFname  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>uFname Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="First Name *" type="text"
                                                    [(ngModel)]="userObj.uFname"
                                                    [formControl]="userForm.controls['uFname']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="userForm.controls['uFname'].hasError('required') && userForm.controls['uFname'].touched">
                                                    First Name is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!userForm.controls['uFname'].hasError('required') && !userForm.controls['uFname'].valid && userForm.controls['uFname'].touched">
                                                    Please Enter valid First Name.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- uLName  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>uLName Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Last Name *" type="text"
                                                    [(ngModel)]="userObj.uLName"
                                                    [formControl]="userForm.controls['uLName']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="userForm.controls['uLName'].hasError('required') && userForm.controls['uLName'].touched">
                                                    Last Name is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!userForm.controls['uLName'].hasError('required') && !userForm.controls['uLName'].valid && userForm.controls['uLName'].touched">
                                                    Please Enter valid Last Name.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- username  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>username Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="User Name *" type="text"
                                                    [(ngModel)]="userObj.username"
                                                    [formControl]="userForm.controls['username']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="userForm.controls['username'].hasError('required') && userForm.controls['username'].touched">
                                                    username is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!userForm.controls['username'].hasError('required') && !userForm.controls['username'].valid && userForm.controls['username'].touched">
                                                    Please Enter valid username.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- email  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>username Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Email Id" type="email"
                                                    [(ngModel)]="userObj.email">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- password  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>username Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Password *" type="password"
                                                    [(ngModel)]="userObj.password"
                                                    [formControl]="userForm.controls['password']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched">
                                                    password is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!userForm.controls['password'].hasError('required') && !userForm.controls['password'].valid && userForm.controls['password'].touched">
                                                    Please Enter valid password.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- uMobile  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- <label>uMobile Name</label> -->
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Mobile Number *" type="text"
                                                    [(ngModel)]="userObj.uMobile"
                                                    [formControl]="userForm.controls['uMobile']">
                                            </mat-form-field>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="userForm.controls['uMobile'].hasError('required') && userForm.controls['uMobile'].touched">
                                                    Mobile number is required.
                                                </small>
                                                <small class="text-danger"
                                                    *ngIf="!userForm.controls['uMobile'].hasError('required') && !userForm.controls['uMobile'].valid && userForm.controls['uMobile'].touched">
                                                    Please Enter valid Mobile number (10 digit).
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- uType  -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>User Type *: </label>
                                            <select [(ngModel)]="userObj.uType" class="form-control"
                                                [formControl]="userForm.controls['uType']">
                                                <option selected>Select</option>
                                                <option *ngFor="let ut of userTypeList;" [value]="ut.id">
                                                    {{ut.userType?ut.userType:'-'}}</option>
                                            </select>
                                            <div class="text-danger">
                                                <small class="text-danger"
                                                    *ngIf="userForm.controls['uType'].hasError('required') && userForm.controls['uType'].touched">
                                                    User Type is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- status -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Status : </label>
                                            <!-- <input placeholder="uStatus" type="checkbox" [(ngModel)]="userObj.uStatus"> -->
                                            <select [(ngModel)]="userObj.uStatus" class="form-control">
                                                <option selected>Select</option>
                                                <option value="Active">Active</option>
                                                <option value="InActive">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- save button - [disabled]="!loginForm.valid" -->
                                    <button mat-raised-button type="submit" class="btn btn-success"
                                        (click)="onSubmit()">{{userId?'Update':'Save'}}</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>